@font-face {
  font-family: "Nexa Bold";
  src: url("../../fonts/Nexa-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Aldrich";
  src: url("../../fonts/Aldrich-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 100%;
  padding: 0;
  margin: 0;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
  outline: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  outline: 0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container {
  width: 670px;
  margin: 0 auto;
  padding: 0;
}
@media (max-width: 1600px) {
  .container {
    width: 670px;
  }
}
@media (max-width: 1359px) {
  .container {
    width: 670px;
  }
}
@media (max-width: 1199px) {
  .container {
    width: 670px;
  }
}
@media (max-width: 1023px) {
  .container {
    width: 480px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 90%;
    padding: 0 50px;
  }
}
@media (max-width: 639px) {
  .container {
    padding: 0 32px;
  }
}
@media (max-width: 400px) {
  .container {
    padding: 0 24px;
  }
}

html * {
  -webkit-text-size-adjust: none;
}

.preload * {
  -webkit-transition: none !important;
  transition: none !important;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.title h2 {
  display: inline-block;
  font-family: Aldrich;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.65px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: white;
  padding: 13px 60px 11px 60px;
  background-color: transparent;
  border: 2px solid #0058DC;
  border-radius: 10px;
  position: relative;
  z-index: 5;
}
@media (max-width: 450px) {
  .title h2 {
    width: 100%;
    text-align: center;
  }
}
.title h2::after {
  display: none;
  content: "";
  width: 455px;
  height: 1px;
  background-color: #CBCBCB;
  right: -457px;
  top: 19px;
  position: absolute;
  z-index: 3;
}
@media (max-width: 1023px) {
  .title h2::after {
    width: 268px;
    right: -270px;
  }
}
@media (max-width: 767px) {
  .title h2::after {
    width: 180%;
    right: -377px;
  }
}
.title .line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 450px) {
  .title .line {
    display: none;
  }
}
.title .line--item {
  width: 100%;
  height: 2px;
  background-color: #CBCBCB;
}
.title .line--dot {
  width: 7px;
  height: 7px;
  background-color: #CBCBCB;
  border-radius: 50%;
}

.header {
  background-color: black;
  padding-top: 30px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header .header-btn {
  font-family: Aldrich;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.65px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: white;
  background-color: #0058DC;
  border-radius: 10px;
  padding: 16px 19px 13px 19px;
  margin-right: 38px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
}
.header .header-btn:hover {
  background-color: transparent;
  border: 1px solid #0058DC;
}
@media (max-width: 400px) {
  .header .header-btn {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .footer .container {
    width: 100%;
  }
}
.footer .container fieldset {
  border-color: #0058DC;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}
@media (max-width: 450px) {
  .footer .container fieldset {
    padding: 0 5px;
  }
}
.footer .container fieldset legend {
  font-family: Aldrich;
  font-size: 20px;
  font-weight: 400;
  line-height: 19.56px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  background-color: black;
  color: white;
  padding: 10px 20px;
}
.footer .container fieldset .footer-content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .container fieldset .footer-content__wrapper a {
  font-family: Aldrich;
  font-size: 20px;
  font-weight: 400;
  line-height: 19.56px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: white;
  margin-top: 23px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer .container fieldset .footer-content__wrapper a:hover {
  color: #848484;
}
.footer .container fieldset .footer-content__wrapper .footer-icons {
  margin-top: 27px;
}
.footer .container fieldset .footer-content__wrapper .footer-icons a:nth-child(2) {
  margin-left: 25px;
}
.footer .container fieldset .footer-content__wrapper .footer-icons a:nth-child(3) {
  margin-left: 30px;
}
.footer .container fieldset .footer-content__wrapper p {
  font-family: Nexa Bold;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #ABABAB;
  margin-top: 25px;
}

.main-banner {
  background: rgb(0, 21, 126);
  background: radial-gradient(circle, rgba(0, 21, 126, 0.719) 0%, rgb(0, 0, 0) 250px);
  background-position: 0 70px;
  background-repeat: no-repeat;
  padding-top: 183px;
  padding-bottom: 80px;
}
@media (max-width: 1024px) {
  .main-banner {
    padding-top: 90px;
  }
}
.main-banner .container .main-banner__wrapper .main-banner__title {
  font-family: Nexa Bold;
  font-size: 65px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: white;
}
.main-banner .container .main-banner__wrapper h2 {
  font-family: Aldrich;
  font-size: 28px;
  font-weight: 400;
  line-height: 27.38px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #0058DC;
  margin-top: 15px;
}
.main-banner .container .main-banner__wrapper .main-banner__text {
  font-family: Aldrich;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #ABABAB;
  margin-top: 40px;
}
.main-banner .container .main-banner__wrapper .main-banner__text span {
  font-family: Aldrich;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: white;
  border-bottom: 1px solid white;
}

body {
  background-color: black;
}

.skill {
  background-color: black;
}
.skill .container .skill-slider {
  margin-top: 70px;
}
.skill .container .skill-slider .skill-slider__item {
  margin-left: 25px;
}
.projects {
  padding-top: 70px;
  padding-bottom: 50px;
}
.projects .container .project h2 {
  padding: 12px 28px;
  min-width: 212px;
  text-align: center;
}
.projects .container .projects-wrapper {
  margin-top: 81px;
}
.projects .container .projects-wrapper .projects-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projects .container .projects-wrapper .projects-item:not(:first-child) {
  margin-top: 60px;
}
.projects .container .projects-wrapper .projects-item .projects-item__arrow {
  margin-top: 30px;
  position: relative;
}
@media (max-width: 1024px) {
  .projects .container .projects-wrapper .projects-item .projects-item__arrow {
    display: none;
  }
}
.projects .container .projects-wrapper .projects-item .projects-item__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1023px) {
  .projects .container .projects-wrapper .projects-item .projects-item__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.projects .container .projects-wrapper .projects-item .projects-item__right .projects-item__main {
  width: 100%;
  margin-left: 48px;
}
@media (max-width: 1023px) {
  .projects .container .projects-wrapper .projects-item .projects-item__right .projects-item__main {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 550px) {
  .projects .container .projects-wrapper .projects-item .projects-item__right .projects-item__main {
    margin-left: 20px;
  }
}
.projects .container .projects-wrapper .projects-item .projects-item__right .projects-item__main h2 {
  font-family: Aldrich;
  font-size: 20px;
  font-weight: 400;
  line-height: 19.56px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #0058DC;
}
.projects .container .projects-wrapper .projects-item .projects-item__right .projects-item__main p {
  font-family: Aldrich;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: white;
}
.projects .container .projects-wrapper .projects-item .projects-item__right .projects-item__date p {
  font-family: Aldrich;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.65px;
  text-align: right;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #ABABAB;
}
@media (max-width: 1023px) {
  .projects .container .projects-wrapper .projects-item .projects-item__right .projects-item__date p {
    margin-left: 45px;
  }
}
@media (max-width: 550px) {
  .projects .container .projects-wrapper .projects-item .projects-item__right .projects-item__date p {
    margin-left: 20px;
  }
}
.projects .container .projects-btn__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.projects .container .projects-btn__wrapper .projects-btn {
  font-family: Aldrich;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.65px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: black;
  background-color: white;
  padding: 22px 60px 22px 61px;
  border-radius: 15px;
  margin-top: 100px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.projects .container .projects-btn__wrapper .projects-btn::before {
  content: url(/img/projects/arrowleft.png);
  left: -210px;
  top: 23px;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .projects .container .projects-btn__wrapper .projects-btn::before {
    display: none;
  }
}
.projects .container .projects-btn__wrapper .projects-btn::after {
  content: url(/img/projects/arrowright.png);
  right: -210px;
  top: 23px;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .projects .container .projects-btn__wrapper .projects-btn::after {
    display: none;
  }
}
.projects .container .projects-btn__wrapper .projects-btn:hover {
  background-color: #0058DC;
  color: white;
}
.projects .container .projects-btn__wrapper .projects-btn:hover::after {
  right: -205px;
}
.projects .container .projects-btn__wrapper .projects-btn:hover::before {
  left: -205px;
}

body {
  overflow-x: hidden;
  position: relative;
}
body .leftball {
  position: fixed;
  left: -500px;
  top: -200px;
  -webkit-animation: rotation 50s infinite linear;
          animation: rotation 50s infinite linear;
  width: 55%;
}
@media (max-width: 1024px) {
  body .leftball {
    left: -295px;
    top: -195px;
    z-index: 99999;
    width: 635px;
    position: absolute;
  }
}
body .rightball {
  position: fixed;
  right: -400px;
  top: 300px;
  -webkit-animation: rotation 50s infinite linear;
          animation: rotation 50s infinite linear;
  width: 50%;
}
@media (max-width: 1024px) {
  body .rightball {
    display: none;
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}