// section,footer{
//     display: none !important; 
// }
.about {
    // display: block !important;
    .container {
        .about-wrapper {
            padding: 120px 98px 120px 98px;
            @media (max-width: 1359px) {
                padding: 120px 0 120px 0;
            
            }
            @media (max-width: 1024px) {
                padding: 40px 0;
            
            }
            
            .about-top {
                display: flex;
                justify-content: space-between;
                @media (max-width: 1024px) {
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: center;
                    align-items: center;
                
                }
                img {
                    @media (max-width: 1024px) {
                        width: 50%;
                    
                    }
                }
                .about-top__right {
                    width: 33%;
                    margin-top: 150px;
                    // align-items: center;
                    @media (max-width: 1024px) {
                        width: 70%;
                    }
                   
                   
                    .about-title {
                        font-family: Recoleta;
                        font-size: 48px;
                        font-weight: 600;
                        line-height: 54px;
                        text-align: left;
                        color: #163A24;
                        @media (max-width: 1024px) {
                            text-align: center;
                        }
                        @media (max-width: 650px) {
                            font-size: 33px;
                        }
                    }
                    .about-text {
                        font-family: Noto Sans;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 27px;
                        text-align: left;
                        color: #163A24;
                        @media (max-width: 1024px) {
                            text-align: center;
                            padding-bottom: 40px;
                        }
                    }
                }
            }
            .about-bottom {
                display: flex;
                justify-content: space-between;
                @media (max-width: 1024px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                
                }
                .about-bottom__left {
                    width: 40%;
                    margin-top: 120px;
                    @media (max-width: 1024px) {
                        width: 70%;
                    }
                    .about-title {
                        font-family: Recoleta;
                        font-size: 48px;
                        font-weight: 600;
                        line-height: 54px;
                        text-align: left;
                        color: #163A24;
                        @media (max-width: 1024px) {
                            text-align: center;
                        }
                        @media (max-width: 650px) {
                            font-size: 33px;
                        }
                    }
                    .about-text {
                        font-family: Noto Sans;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 27px;
                        text-align: left;
                        color: #163A24;
                        @media (max-width: 1024px) {
                            text-align: center;
                            padding-bottom: 40px;
                        }
                    }
                }
                img {
                    @media (max-width: 1024px) {
                        width: 60%;
                    
                    }
                }
            }
        }
    }
}