// section,footer{
//     display: none !important; 
// }
.another {
    // display: block !important;
    padding: 120px 0;
    @media (max-width: 700px) {
        padding: 60px;
    }
    .container {
        .another-wrapper {
            padding: 0 98px;
            display: flex;
            justify-content: space-between;
            @media (max-width: 1024px) {
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
            }
            @media (max-width: 700px) {
                padding: 0;
            }
            .another-left {
                // margin-top: 80px;
                @media (max-width: 1024px) {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                }
                margin-top: 15%;
                .another-title {
                    font-family: Recoleta;
                    font-size: 48px;
                    font-weight: 600;
                    line-height: 54px;
                    text-align: left;
                    // width: 20%;
                    @media (max-width: 1024px) {
                        text-align: center;
                    }
                    @media (max-width: 600px) {
                        font-size: 35px;
                    }
                }
                .another-text {
                    font-family: Noto Sans;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    text-align: left;
                    @media (max-width: 1024px) {
                        text-align: center;
                    }
                }
                .another-btn {
                    font-family: Noto Sans;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 21.79px;
                    color: white;
                    background-color: #198C36;
                    padding: 15px 25px;
                    border-radius: 160px;
                    border: none;
                    transition: all .3s ease-in-out;
                    &:hover {
                        color: #F7BC28;
                        background-color: #33af52;
                    }
                    @media (max-width: 1024px) {
                        width: 50%;
                    }
                    @media (max-width: 700px) {
                        width: 80%;
                    }
                    @media (max-width: 500px) {
                        width: 100%;
                    }
                }
            }
            .another-img {
                width: 50%;
                height: auto;
                @media (max-width: 1024px) {
                    width: 80%;
                    height: auto;
                
                }
                @media (max-width: 700px) {
                    width: 100%;
                    height: auto;
                
                }
            }
        }
    }
}