body {
    overflow-x: hidden;
    position: relative;
    .leftball {
        position: fixed;
        left: -500px;
        top: -200px;
        animation: rotation 50s infinite linear;
        width: 55%;
        //transform: translateX(-800px);
        @media (max-width: 1024px) {
            // left: -295px;
            // top: -195px;
            // z-index: 100;
            // width: 635px;
            // position: absolute;
            display: none;
        }
    }
    .rightball {
        position: fixed;
        right: -400px;
        top: 300px;
        animation: rotation 50s infinite linear;
        width: 50%;
        //transform: translateX(600px);
        @media (max-width: 1024px) {
            display: none;
        }
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}