// section,footer{
//     display: none !important; 
// }
.book {
    background-color: #F2EFE6;
    // display: block !important;
    padding: 120px 0;
    .container {
        .book-title {
            display: block;
            font-family: Recoleta;
            font-size: 47px;
            font-weight: 600;
            line-height: 54px;
            text-align: center;
            color: #163A24;
            @media (max-width: 460px) {
                font-size: 35px;
            }

        }
        .book-text {
            font-family: Noto Sans;
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            text-align: center;
            color: #163A24;
        }
        .book-item__wrapper {
            display: flex;
            justify-content: space-between;
            margin-left: 100px;
            @media (max-width: 1360px) {
                flex-direction: column;
                align-items: center;
                margin-left: 0;
            }
            .book-item {
                display: flex;
                // justify-content: space-between;
                align-items: center;
                width: 393px;
                @media (max-width: 1360px) {
                    flex-direction: column;
                    &:nth-child(3) {
                        margin-top: 60px;
                    }
                    &:nth-child(2) {
                        margin-top: 20px;
                    }
                }
                @media (max-width: 460px) {
                    width: 100%;
                }
                
                .book-item__info{
                    display: flex;
                    flex-direction: column;
                    // justify-content: center;
                    .book-item__text {
                        font-family: Noto Sans;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 27px;
                        text-align: center;
                        color: #163A24;
                        width: 260px;
                    }
                    .book-item__time {
                        font-family: Recoleta;
                        font-size: 28px;
                        font-weight: 600;
                        line-height: 31.5px;
                        text-align: center;
                        color: #163A24;
                    }
                 }
                .book-item__arrow {
                    margin-left: 27px;
                    @media (max-width: 1360px) {
                        margin-left: 0;
                    }
                    @media (max-width: 1360px) {
                        transform: rotate(90deg);
                        margin-top: 30px;
                    }
                    .img {
                        // @media (max-width: 1360px) {
                        //     transform: rotateX(180deg);
                        // }
                    }
                }
                &.vector {
                    position: relative;
                    justify-content: center;
                    &::after {
                        content: url(/img/book/Vector.png);
                        position: absolute;
                    }
                }
            }
            //  .vector {
            //         .book-item__text {
            //             font-family: Noto Sans;
            //             font-size: 18px;
            //             font-weight: 400;
            //             line-height: 27px;
            //             text-align: center;
            //             color: #163A24;
            //         }
            //  }
        }
        .book-bottom {
            display: flex;
            justify-content: center;
            .book-btn {
                font-family: Noto Sans;
                font-size: 16px;
                font-weight: 400;
                line-height: 21.79px;
                text-align: center;
                padding: 15px 25px;
                color: white;
                background-color: #198C36;
                border-radius: 160px;
                margin-top: 60px;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: #F7BC28;
                    background-color: #33af52;
                }
            }
        }
    }
}