// section,footer{
//         display: none !important; 
//     }

.footer {
    .container {
        // width: 100%;
        @media (max-width: 767px) {
            width: 100%;
        }
        fieldset {
            border-color: #0058DC;
            border-bottom: none;
            border-radius: 10px 10px 0 0;
            legend {
                font-family: Aldrich;
                font-size: 20px;
                font-weight: 400;
                line-height: 19.56px;
                text-align: center;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                background-color: black;
                color: white;
                padding: 10px 20px;
            }
            .footer-content__wrapper {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                a {
                    font-family: Aldrich;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 19.56px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: white;
                    margin-top: 23px;
                    transition: all .3s ease-in-out;
                    &:hover {
                        color: #848484;
                    }
                }
                .footer-icons {
                    margin-top: 27px;
                    a {
                        &:nth-child(2) {
                            margin-left: 25px;
                        }
                        &:nth-child(3) {
                            margin-left: 30px;
                        }
                        img {

                        }
                    }
                }
                p {
                    font-family: Nexa Bold;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 14px;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #ABABAB;
                    margin-top: 25px;
                }
            }
        }
    }
}
 