// section,footer{
//         display: none !important; 
//     }

.footer {
    .container {
        // width: 100%;
        @media (max-width: 767px) {
            width: 100%;
        }
        fieldset {
            // border-color: #0058DC;
            border-color: yellow;
            border-bottom: none;
            border-radius: 10px 10px 0 0;
            
            @media (max-width: 450px) {
                padding: 0 5px;
            }
            
            legend {
                font-family: Aldrich;
                font-size: 20px;
                font-weight: 400;
                line-height: 19.56px;
                text-align: center;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                background-color: black;
                color: white;
                padding: 10px 20px;
            }
            .footer-content__wrapper {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                a {
                    font-family: Aldrich;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 19.56px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: white;
                    margin-top: 23px;
                    transition: all .3s ease-in-out;
                    &:hover {
                        color: #848484;
                    }
                    @media (max-width: 500px) {
                        font-size: 17px;
                    }
                }
                .footer-icons {
                    margin-top: 27px;
                    a {
                        &:nth-child(2) {
                            margin-left: 25px;
                        }
                        &:nth-child(3) {
                            margin-left: 30px;
                        }
                        &:nth-child(4) {
                            margin-left: 30px;
                        }
                        // img {

                        // }
                        .inst-svg {
                            fill: #fff;
                            transition: all .3s ease-in-out;
                            width: 32px;
                            height: 32px;
                            &:hover {
                                fill: gray;
                            }
                        }
                        .telegram-svg {
                            fill: #fff;
                            transition: all .3s ease-in-out;
                            width: 30px;
                            height: 30px;
                            &:hover {
                                fill: grey;
                            }
                        }
                        .linkedin-svg {
                            fill: #FFFFFF;
                            transition: all .3s ease-in-out;
                            width: 29px;
                            height: 29px;
                            &:hover {
                                fill: grey;
                            }
                        }
                        .github-svg {
                            fill: #FFFFFF;
                            transition: all .3s ease-in-out;
                            width: 30px;
                            height: 30px;
                            &:hover {
                                fill: grey;
                            }
                        }
                    }
                }
                p {
                    font-family: Nexa Bold;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 14px;
                    text-align: center;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: #ABABAB;
                    margin-top: 25px;
                    @media (max-width: 500px) {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
 