.popup-bg {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.356);
    &.active {
        visibility: visible;
        opacity: 100%;
    }
    
    .gs-popup {
        background-color: #F7BC28;
        border-radius: 25px;
        padding: 40px;
        width: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        transition: all .5s ease-in-out;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .popup-title {
            font-family: Recoleta;
            font-size: 48px;
            font-weight: 600;
            line-height: 54px;
            text-align: center;
            color: #198C36;
        }
        .form-wrapper {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 40%;
            .popup-input__email {
                width: 100%;
                height: 50px;
                border-radius: 160px;
                border: none;
                border: 1px solid black;
                margin-top: 40px;
                padding-left: 15px;
                caret-color: #198C36;
                &::placeholder {

                }
            }
            .popup-input__number {
                width: 100%;
                height: 50px;
                border-radius: 160px;
                border: 1px solid black;
                margin-top: 15px;
                padding-left: 15px;
                caret-color: #198C36;
            }
            .popup-btn__submit {
                font-family: Noto Sans;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 21.79px;
                            color: white;
                            padding: 15px 40px;
                            background-color: #198C36;
                            border-radius: 160px;
                            margin-left: 24px;
                            border: none;
                            transition: all .3s ease-in-out;
                            margin-top: 40px;
                            &:hover {
                                color: #F7BC28;
                                background-color: #33af52;
                            }
                  }
                }
        .close-popup {
            position: absolute;
            right: 10px;
            top: 10px;
            
                img {
                    width: 30px;
                    height: 30px;

                    &:hover {
                        width: 31px;
                        height: 31px;
                    }
                }
        }
    }
}
.no-scroll {
    overflow: hidden;
}