// section,footer{
//     display: none !important; 
// }
.header {
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    .header-btn {
        font-family: Aldrich;
        font-size: 16px;
        font-weight: 400;
        line-height: 15.65px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: white;
        background-color: #0058DC;
        border-radius: 10px;
        padding: 16px 19px 13px 19px;
        margin-right: 38px;
        transition: all .3s ease-in-out;
        border: 1px solid transparent;

        &:hover {
            background-color: transparent;
            border: 1px solid #0058DC;
            // border-radius: 10px;
        }

        @media (max-width: 400px) {
            margin-right: 20px;
        }
    }
}