.main-banner {
  background-color: #163A24;
}
.main-banner .container .main-banner_wrapper .main-banner_left .main-banner_title {
  font-family: Recoleta;
  font-size: 48px;
  font-weight: 600;
  line-height: 65.25px;
  text-align: left;
  color: white;
}
.main-banner .container .main-banner_wrapper .main-banner_left .main-banner_text {
  font-family: Noto Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: white;
}