.main-banner {
    // background-color: black;
    background: rgb(0,21,126);
    background: radial-gradient(circle, rgba(0, 21, 126, 0.719) 0%, rgba(0,0,0,1) 250px);
    background-position: 0 70px;
    background-repeat: no-repeat;
    padding-top: 183px;
    padding-bottom: 80px;
    .container {
        .main-banner__wrapper {
            .main-banner__title {
                font-family: Nexa Bold;
                font-size: 65px;
                font-weight: 700;
                line-height: 65px;
                letter-spacing: 0.02em;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: white;

            }
            h2 {
                font-family: Aldrich;
                font-size: 28px;
                font-weight: 400;
                line-height: 27.38px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #0058DC;
                margin-top: 15px;

            }
            .main-banner__text {
                font-family: Aldrich;
                font-size: 16px;
                font-weight: 400;
                line-height: 25px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #ABABAB;
                margin-top: 40px;
                

                span {
                    font-family: Aldrich;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    color: white;
                    border-bottom: 1px solid white;
                }
            }
        }
    }
}