body {
    background-color: black;
}
.skill {
    // padding-top: 80px;
    background-color: black;
    .container {
        // .title {
        //     h2 {

        //     }
        //     .dot {

        //     }
        // }
        .skill-slider {
            margin-top: 70px;
            .skill-slider__item {
                margin-left: 25px;
                img {

                }
            }
        }
    }
}